certifi==2020.11.8
chardet==3.0.4
idna==2.10
requests==2.25.0
robotframework==5.0
robotframework-requests==0.7.2
robotframework-selenium2library==3.0.0
robotframework-seleniumlibrary==4.3.0
selenium==3.141.0
urllib3==1.25.8
